@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  color: white;
  background-color: #000;
  font-family: 'Oswald', 'Futura', sans-serif;
  font-size: 87.5%;
  margin: 15px auto;
  padding: 15px 25px;
}

#page {
   margin: 0px auto 0px auto;}
  /* Responsive page rules at bottom of style sheet */

/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
html {
    background-image: -moz-linear-gradient(top, white 0%, #facd8a 100%);
}

section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;    
}

h1 { font-size: 175%; color: #e3dfdd; }
h2 { font-size: 125%; color: #e3dfdd; }

a { font-weight: bold; }
a:link { color: #D8D8D8; }
a:visited { color: #D8D8D8; }
a.current { color: #ef9c00; }
a:hover, a:focus { color: #A4A4A4; }

ul { 
    margin-left: 1.5em;
    margin-bottom: 1.5em; 
}
li { padding-bottom: 0.25em; }

p {
  color: #e3dfdd; 
  text-shadow: -1px 1px 0px #333;
  margin-bottom: 8px;
}
      
em { font-weight: bold; }

/* the styles for the header */
header { 
}
header h1 {
    color: #ef9c00;
    margin-left: 70px;
    margin-bottom: 0.25em;
}
header h2 {
    color: green;
    font-style: italic;
    margin-left: 70px;
}
header img { 
    float: left;
}

/* the styles for the top navigation bar */

#nav_bar {
    
    display: flex;
	display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
	flex-flow:row wrap;
	-webkit-flex-flow:row wrap;
    align-items: center;
    
  color: #e3dfdd; 
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-shadow: -1px -1px 0px #333;
  -webkit-box-shadow: inset -1px -1px 0px 0px #a5948c;
  box-shadow: inset -1px -1px 0px 0px #a5948c;
  background-color: #403c3b;
  margin-bottom: 5px;       
}

#nav_bar ul {
    list-style: none;
}

#nav_bar li {
    display: inline;
    margin-left: 5px;
}

#logo {
    text-align: left;
	padding: 0px;
}

#user {
    text-align: right;
}

/* the styles for the side navigation bar */
#sidebarA ul {
    margin-left: 0;
    list-style: none;
}
#sidebarA li {
    margin-bottom: .5em;
}

/* the styles for the section */
section {
	width: 80%;
    padding-right: 20px;
    padding-left: 20px;
    float: left;    
}
section h1 {
    margin-bottom: 0.35em; 
}
section h2 {
    margin-bottom: 0.35em;
}
.top_margin {
    margin-top: 1em;
}

/* product */
section img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
.clear_both {
    clear: both;
}

/* email list */
section label {
    float: left;
    width: 8em;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-top: 0.25em;    
}

section input {
    width: 12em;
    margin-left: 0.5em;    
}

section textarea {
    margin-left: 0.25em;
    margin-bottom: 0.5em;  
}

br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
}


table {
    border: none;
}
th {
    vertical-align: bottom;
    text-align: left;
}
td {
    vertical-align: top;
}
th, td {
    padding: .3em;
}
.top {
    vertical-align: top;
}

/* the style for the cart pages */
.cart {
    width: 700px;
}
.cart label {
    float: left;
    width: 10em;
    font-weight: bold;
    padding-top: 0.25em;    
}
.cart input[type="text"], input[type="email"], input[type="password"] {
    float: left;
    width: 12em;
    margin-left: 0.5em;
    margin-right: 0.2em;
}
.cart input[type="button"] {
    margin-left: 0.5em;
}
.cart select {
    margin-left: 0.5em;
    margin-right: 0.2em;
}
.cart_row input[type="text"] {
    width: 2em;
    margin-left: 0em;
}
#required {
    margin-left: 8.5em;
    margin-bottom: .5em;
}
.required {
    color: red;
    margin-bottom: 0;
}
#quantity_text {
    width: 2em;
}
#float_left {
    float: left;
    margin-right: 1em;
}

/* the style for the admin pages */
#admin {
    width: 700px;
}
#admin form {
    margin-top: .5em;
}
#admin label {
    width: 14em;
    margin-left: .5em;
    padding-top: 0.25em;    
}
#admin .left_margin {
    margin-left: 0em;
}


/* the styles for the sidebars */
aside h1 {
    font-size: 125%;
    padding-bottom: .5em;
}
aside h2 {
    font-size: 100%;
    color: green;
    padding-bottom: .5em;
}
aside p {
    margin-bottom: .5em;
}
aside img {
    margin-bottom: 1em;    
}
#sidebarA { 
	width: 10%;
    float: left; 
    height: 400px;
    
  color: #e3dfdd; 
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
  text-shadow: -1px -1px 0px #333;
  -webkit-box-shadow: inset -1px -1px 0px 0px #a5948c;
  box-shadow: inset -1px -1px 0px 0px #a5948c;
  background-color: #403c3b;
  margin: 0 auto 0 auto;      
}

/* the styles for the footer */
footer {
    clear: both;
}
footer p {
    font-size: 80%;
    text-align: right;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.no_pad_top {
    padding-top: 0;
}
.margin_left {
    margin-left: 0.5em;
}
.no_underline {
    text-decoration:none;
}

label {
	color: #D8D8D8;
}

legend {
	color: #D8D8D8;
}

fieldset {
	border-style: none;
	margin: 0;
	padding 0;
}

.pagePart {
	
  color: #e3dfdd; 
  border-radius: 5px;
  text-shadow: -1px -1px 0px #333;
  -webkit-box-shadow: inset -1px -1px 0px 0px #a5948c;
  box-shadow: inset -1px -1px 0px 0px #a5948c;
  background-color: #401c3b;
  
  margin: 0;
}

#catalogToolbar {
  
	width: 80%;
    padding-right: 0;
    padding-left: 0;
   
  
  margin-left: 5px;
  vertical-align: middle;
  
   float: left;
	padding: 3px;
	padding-bottom: 5px;
  
  
  
}

section input, section select {
  vertical-align: middle;
  margin: 0;
  margin-left: 3px;
  padding: 3px;
}

section input[type="submit"] {
	width: auto;
	padding: 3px;
}

.col-wrapper{
	width:960px; 
	margin:0 auto;
}

.col{
	margin:0 10px; 
	float:left; 
	display:inline;
}
.col-left{
	width:700px;
}
.col-right{
	width:700px;
}
